# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [6]:
a = 125;
b = 125;
print(id(a) == id(b));

True

Оскільки значення належить проміжку від -5 до 256, то дві змінні, що містять одне й те саме значення, посилаються на одну й ту саму комірку пам'яті для оптимізації доступу до неї.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [7]:
print(isinstance(True,bool));
print(isinstance(True,int));

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [8]:
a = 2;
b = 3.076;
print(a+b);
print(a-b);
print(a/b);
print(a*b);
print(a//b);
print(a%b);
print(a**b);

5.0760000000000005
-1.076
0.6501950585175552
6.152
0.0
2.0
8.432731386325903

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [10]:
print(int(b));
bool_value = True;
print(int(bool_value));

3
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [3]:
str1 = str();
str2 = '';

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [20]:
regular_string = "'";
raw_string = r"'";
print(regular_string);
print(raw_string);

'
'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [39]:
surname = "Malii";
print("My surname is %s." %surname);
print(f"My surname is {surname}");

My surname is Malii.
My surname is Malii

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [37]:
fun_str = "My dog is crazy";
fun_str = fun_str.lower().split()
print(fun_str);

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [25]:
list1 = list((1,2,3,4));
list2 = [1,2,3,4];
print(len(list2));

4

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [32]:
list1 = [1,2,3,4];
list2 = [5,6,7,8];
list1.extend([list2]);
print(list1);

[1, 2, 3, 4, [5, 6, 7, 8]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [33]:
list = [[1,2,3],[4,5,6],[7,8,9]];
print(list[-1][0]);

7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [40]:
list=[1, 2.0, 3j+4, True, 'hello', 4, 5.0, 1j+5, False, "a"];
list_cut = list[2:8];
print(list_cut);

[(4+3j), True, 'hello', 4, 5.0, (5+1j)]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [46]:
tuple = (1);
print(tuple);

1

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Tuple:
- синтаксис: ();
- immutable;
- швидше;
- зберігають одночасно декілька типів данних;
- займає менше пам'яті;
- використовується для збереження статичних данних;

List:
- синтаксис: [];
- mutable;
- повільніше;
- зберігають одночасно декілька типів данних;
- займає більше пам'яті;
- використовується, коли потрібна динамічна структура;

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [23]:
tuple = (0.2, 0.7, 0.4, 0.5, 1.3, 6.7, 0.9, 2.3, 7.9, 1.8, 5.7);
print(tuple[::-2]);

(5.7, 7.9, 0.9, 1.3, 0.4, 0.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [4]:
empty_set = set();
empty_set.add(1);
empty_set.add(2);
empty_set.add(3);
print(empty_set);

{1, 2, 3}

Множини є незмінними типом даних, але до них можна додавати або видаляти з них елементи.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [5]:
my_list = [1, 1, 2, 67, 67, 8, 9];
my_set = set(my_list);
print(my_set);

{1, 2, 67, 8, 9}

Множина не може мати дуплікатів елементів, тому "1" і "67" видалилися.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [13]:
set1 = {1,2,3,4,5};
set2 = {1,3,5,6,7,8};

print(set1.union(set2));
print(set1.intersection(set2));
print(set1.difference(set2));
print(set1.symmetric_difference(set2));

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 3, 5}
{2, 4}
{2, 4, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [16]:
dict1 = {
    "fruit" : "apple",
    1 : 2,
    3.0 : 4.0,
    True : False
}

Список не може бути ключем в словнику, тому що його ключі мають бути незмінними об'єктами, а список - змінний тип.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [19]:
dict2 = {
    "dictionary" : {
        "something" : {
            "anything" : "whatever"
          },
    }
}

print(dict2["dictionary"]["something"]["anything"])

whatever

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.